<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600|Architects Daughter" rel="stylesheet"type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="Toast-master/css/grid.css">
	<link rel="stylesheet" href="css/style.css">

    <script src="http://code.angularjs.org/1.4.7/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="postscribe-master/htmlParser/htmlParser.js"></script>
    <script src="postscribe-master/postscribe.js"></script>
    <script src="app.js"></script>
    <script src="common/mainController.js"></script>
    <script src="common/clickoutside.directive.js"></script>
    <title>{{ title }} : ArmadilloCon 38</title>
</head>
<body ng-controller="mainController">
<div class="grid">

<div class="grid__col grid__col--4-of-5">

    <div class="menu-bar">
	<label for="show-menu" id="show-menu">Show Menu</label>
	<button type="button" id="show-menu" ng-click="toggleMenu($event)"><i class="fa fa-bars"></i></button>
		<ul ng-class="topLevelUL" id="menu">
		<li class="menu-elem top-level-li">
			<a id="about" class="top-level-link" ng-click="processMenuEvents($event)" click-outside="closeThis()" outside-if-not="top-level-li" href="#">About &darr;</a>
			<ul class="menu-elem" ng-show="menuIsOpen['about']">
				<li class="menu-elem" ng-click="menuIsOpen['about'] = false"><a class="dropdown-elem" href="#/about">About</a></li>
				<li class="menu-elem" ng-click="menuIsOpen['about'] = false"><a class="dropdown-elem" href="#/policies">Policies</a></li>
				<li class="menu-elem" ng-click="menuIsOpen['about'] = false"><a class="dropdown-elem" href="#/hotel">Hotel</a></li>
			</ul>
		</li>
		<li class="menu-elem top-level-li">
			<a id="programming" class="top-level-link" href="#" ng-click="processMenuEvents($event)" click-outside="closeThis()" outside-if-not="top-level-li">Programming &darr;</a>
			<ul class="menu-elem hidden" ng-show="menuIsOpen['programming']">
				<li class="menu-elem" ng-click="menuIsOpen['programming'] = false"><a class="dropdown-elem" href="#/guests">Guests</a></li>
				<li class="menu-elem" ng-click="menuIsOpen['programming'] = false"><a class="dropdown-elem" href="#/guest_bios">Guest biographies</a></li>
				<li class="menu-elem" ng-click="menuIsOpen['programming'] = false"><a class="dropdown-elem" href="#/grid">Programming Grid</a></li>
				<li class="menu-elem" ng-click="menuIsOpen['programming'] = false"><a class="dropdown-elem" href="#/sched">Detailed Schedule</a></li>
			</ul>
		</li>
		<li class="menu-elem top-level-li"><a id="register" class="top-level-link" href="#/register" ng-click="processMenuEvents($event)" click-outside="closeThis()" outside-if-not="top-level-li">Register</a></li>
		<li class="menu-elem top-level-li">
			<a id="participate" class="top-level-link" href="#" ng-click="processMenuEvents($event)" click-outside="closeThis()" outside-if-not="top-level-li">Participate &darr;</a>
			<ul class="menu-elem hidden" ng-show="menuIsOpen['participate']">
				<li class="menu-elem" ng-click="menuIsOpen['participate'] = false"><a class="dropdown-elem" href="#/artshow">Art Show</a></li>
				<li class="menu-elem" ng-click="menuIsOpen['participate'] = false"><a class="dropdown-elem" href="#/dealers">Dealers</a></li>
				<li class="menu-elem" ng-click="menuIsOpen['participate'] = false"><a class="dropdown-elem" href="#/gaming">Gaming</a></li>
				<li class="menu-elem" ng-click="menuIsOpen['participate'] = false"><a class="dropdown-elem" href="#/writers_workshop">Writers' Workshop</a></li>
			</ul>
		</li>
		<li class="menu-elem top-level-li"><a id="contact" class="top-level-link" href="#/contact ng-click="processMenuEvents($event)" click-outside="closeThis()" outside-if-not="top-level-li">Contact</a></li>
		<li class="menu-elem top-level-li"><a id="program_book" class="top-level-link" href="#/program_book ng-click="processMenuEvents($event)" click-outside="closeThis()" outside-if-not="top-level-li">Program Book</a></li>
	</ul>
    </div>

<div class="grid__col grid__col--5-of-5">
<div class="center-block">
<p class="header title-header"><b>ArmadilloCon 38</b></p>
<p class="header subheader"><b>Austin's literary science fiction and fantasy convention</b></p>
<p class="header location-date"><b>July 29-31 2016, Austin, Texas</b></p>
<p class="header location-date"><b>Omni Southpark hotel, 4140 Governors Row, Austin, Texas 78744</b></p>

<p class="guest">
Guest of Honor: <a href="http://wesleychu.com/"><b>Wesley Chu</b></a> <i class="fa fa-asterisk"></i> Special Guest (Artist): <b>Dominick Saporano</b>  <i class="fa fa-asterisk"></i> Artist Guest: <b>Christina Hess</b> <i class="fa fa-asterisk"></i> Editor Guest: <b>TBD</b></a> <i class="fa fa-asterisk"></i> Fan Guest: <b>Ken Keller</b> <i class="fa fa-asterisk"></i> Toastmaster: <a href="https://joemckinney.wordpress.com"><b>Joe McKinney</b></a>
</p>

</div>
</div>

        <div class="page center-block" id="view" ng-view></div>

<div id="statcounterInd"></div>

<div class="grid__col grid__col--3-of-12">
    <p><a href="https://www.facebook.com/armadillocon" class="armad-footer"><i class="fa fa-facebook-square"></i> Connect with ArmadilloCon on Facebook</a><br /><a class="armad-footer" href="https://twitter.com/armadillocon"><i class="fa fa-twitter-square"></i> Follow ArmadilloCon on Twitter</a></p>
</div>
<br/>
<div class="grid__col centered-footer grid__col--3-of-12">
    <p class="armad-footer">Website by <a href="http://geekitude.com">Elze Hamilton</a></p>
</div>
<br/>
<div class="grid__col grid__col--3-of-12">
    <p class="armad-footer">To <a href="http://armadillocon.org/d37">ArmadilloCon 37 (2015) website</a></p>
</div>
    
                
<div class="grid__col centered-footer grid__col--3-of-3"><span class="armad-footer">2016 ArmadilloCon 38</span></div>


</body>
</html>